<!DOCTYPE html>
<html>
    <body>
        <input type="button" value="Student" onclick="changepage('/home/student')">
        <input type="button" value="Student" onclick="changepage('/home/tutor')">
        </body>
    <script>
        function changepage(stri) {
            window.location.href = stri;
        }
    </script>
</html>